.calculator {
  margin-bottom: 10px;
}

.calc-num-input {
  color: #3a3a3a;
  font-size: 2em;
  border-radius: 5px;
  border-style: groove;
  width: 50%;
}

.calc-notice-section {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 1.1em;
}

.calc-buttons-section {
  width: 50%;
}

.calc-result-section {
  color: var(--color-font);
  border-radius: 5px;
  border: 1px solid var(--color-font-description);
}

/*calc btns headers paras*/
.calculator h2 {
  color: var(--heading-color);
}

.calculator h3 {
  color: var(--color-titles);
}

#calc-notice {
  color: var(--color-calc-notice);
  font-size: 1.1em;
  margin: 0;
}

.btn-calc {
  margin: 20px 0 20px 0;
  background-color: var(--bg-color-links);
}

.btn-cancel-calc {
  margin: 20px 0 20px 0;
  background-color: #ebb215;
}

.btn-calc
,.btn-cancel-calc {
  display: inline-block;
  color: var(--color-btn-links);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: var(--color-btn-shadow);
}

.btn-calc:active
,.btn-cancel-calc:active {
  box-shadow: none;
}

.calc-result-section img {
  height: 1.5em;
  padding: 1% 1% 0 1%;
}

.calc-result-section p {
  display: inline-block;
  color: var(--color-font);
  font-size: 1.5em;
  margin-bottom: 1%;
  max-width: 100%;
}