/*colors-light-mode*/
:root {
  --bg-color-body: #ffffff;
  --bg-color-header-resume: #f0f0f0;
  --bg-color-table: #f0f0f0;
  --bg-color-btn-back-to-top: #f0f0f0;
  --bg-color-links: #66bb6a;
  --bg-color-links-hover: #72e878;

  --color-headings: #181818;
  --color-titles: #2F5A78;
  --color-font: #3a3a3a;
  --color-font-description: #6f7680;
  --color-links: #242424;
  --color-p-links: #3b75cc;
  --color-btn-links: #242424;
  --color-calc-notice: #b4352c;

  --color-border-top-bottom: 1px solid rgb(216, 216, 216);
  --color-section-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --color-btn-back-to-top: #555555;
  --color-btn-shadow: 6px 5px 8px 1px rgb(100, 100, 100);
  --color-btn-calc-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*colors-dark-mode*/
.dark-mode {
  --bg-color-body: #161625;
  --bg-color-header-resume: #f0f0f0;
  --bg-color-table: #f0f0f0;
  --bg-color-btn-back-to-top: #3e3e6a;
  --bg-color-links: #66bb6a;
  --bg-color-links-hover: #72e878;

  --color-headings: #818cab;
  --color-titles: #60ace2;
  --color-font: #e1e1ff;
  --color-font-description: #ceceff;
  --color-links: #fcfcfc;
  --color-p-links: #3b75cc;
  --color-btn-links: #242424;
  --color-calc-notice: #b68b88;

  --color-border-top-bottom: 1px solid #4a4a7f;
  --color-section-shadow: 0px 2px 4px rgba(100, 100, 150, 0.8);
  --color-btn-back-to-top: #ababc4;
  --color-btn-shadow: 6px 5px 8px 1px rgb(100, 100, 150);
  --color-btn-calc-shadow: 0px 8px 16px 0 rgba(100, 100, 150, 0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*html*/
* {
  margin: 0;
  padding: 0;
}

/*body*/
body {
  background-color: var(--bg-color-body);
  color: var(--color-font);
  font-family: Verdana, Arial, "Times New Roman";
  font-size: 1em;
  padding: 3%;
}

/*back-to-top*/
.btn-back-to-top {
  background-color: transparent;
  color: var(--color-btn-back-to-top);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 5%;
  top: 0;
  left: 0;
  z-index: 6;
}

.btn-back-to-top i {
  padding: 0;
}

.btn-back-to-top:hover {
  background-color: var(--bg-color-btn-back-to-top);
  transition: background-color .9s ease;
}

/*headings*/
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  text-transform: capitalize;
}

h1 {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

h5 {
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

h6 {
  font-size: 1em;
  margin-bottom: 0.3em;
}

/*lists / para/ icons / imgs / hyperlinks*/
p {
  margin-bottom: 0.4em;
}

ul
,.ol {
  list-style-type: none;
  list-style-position: inside;
}

i {
  padding-right: 0.4em;
}

a
,a:visited {
  text-decoration: none;
  color: var(--color-links);
}

img {
  max-width: 100%;
  height: auto;
}

/*wrappers*/
.index-wrapper
,.resume-wrapper
,.projects-wrapper
,.feedback-wrapper
,.projects-page-wrapper {
  margin: 0 auto;
  width: 90%;
  word-wrap: break-word;
  box-shadow: var(--color-section-shadow);
}

/*top-section-wrapper*/
.top-wrapper {
  padding: 2%;
  border-bottom: var(--color-border-top-bottom);
}

/*dark-mode-section*/
.dark-mode-section {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.5em;
}

.dark-mode-section button {
  padding: 0.7em;
  margin-left: 0.3em;
  border-radius: 50px;
  border: none;
  background-color: var(--bg-color-links);
  color: var(--color-btn-links);
  cursor: pointer;
}

.dark-mode-section button:hover {
  background-color: var(--bg-color-links-hover);
}

.dark-mode-section button:active {
  box-shadow: var(--color-btn-shadow);
}

/*top-section*/
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*top-navigation*/
.top-nav {
  padding: 0.5em;
}

.top-nav ul li {
  display: inline-block;
  border: solid 2px transparent;
  margin-bottom: 0.3em;
  font-size: 1.4em;
}

.top-nav ul a:hover {
  border-bottom: 2px solid var(--color-font-description);
  padding-bottom: 0.3em;
}

.top-nav ul a:active {
  border-bottom: 0.4em solid var(--color-font-description);
}

/*header-common*/
.person-info {
  padding: 0.5em;
}

.avatar {
  box-shadow: var(--color-section-shadow);
}

.name,
.position {
  font-size: 1.4em;
  display: inline-block;
  margin: 0;
  margin-bottom: 0.3em;
}

.position {
  font-weight: 400;
}

/*main-breadcrumbs-nav*/
.main-nav {
  padding: 1% 2% 1% 2%;
}

.main-nav i {
  padding: 0 1% 0 1%;
}

.main-nav ul {
  padding: 0.5em;
}

.main-nav ul li {
  display: inline;
  color: var(--color-font-description);
}

/*feedback-page*/
.feedback-wrapper .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-wrapper .main-section {
  padding: 2%;
}

/*footer*/
.footer {
  overflow: hidden;
  clear: both;
  padding: 2%;
  border-top: var(--color-border-top-bottom);
}

.footer-section {
  display: block;
  text-align: center;
}

.footer-section li {
  display: inline-block;
  text-align: left;
  padding: 0.5em;
  min-width: 23%;
}