.projects-wrapper .main-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.projects-wrapper .main-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 540px;
  overflow: hidden;
  padding: 10px;
}

.projects-wrapper .side-section {
  position: sticky;
  top: 1%;
  bottom: 1%;
  width: 25%;
  min-width: 20%;
  height: 25vh;
  min-height: 20vh;
  overflow: hidden;
  padding: 10px;
}

.projects-wrapper .main-section-item {
  margin-bottom: 1.5em;
}

.projects-wrapper .projects-meta {
  margin-bottom: 0.7em;
}

.projects-wrapper .main-section-item h3 {
  text-transform: capitalize;
}

.projects-wrapper .main-section-item ul li
,.projects-wrapper .side-section-nav li {
  margin-bottom: 0.5em;
}

.projects-wrapper .main-section-item ul li a:hover
,.projects-wrapper .side-section-nav a:hover {
  text-decoration: underline;
}

.projects-wrapper .main-section-item ul li i {
  margin-left: 0.3em;
  font-size: 0.7em;
  padding: 0;
}

.projects-wrapper .side-section-nav {
  color: var(--color-headings);
}

.projects-wrapper .side-section-nav li {
  color: var(--calc-notice);
  text-transform: capitalize;
}