.projects-wrapper .main-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.projects-wrapper .main-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 540px;
  overflow: hidden;
  padding: 10px;
}

.projects-wrapper .side-section {
  position: sticky;
  top: 1%;
  bottom: 1%;
  width: 25%;
  min-width: 20%;
  height: 25vh;
  min-height: 200px;
  overflow: hidden;
  padding: 10px;
}

.projects-wrapper .main-section-item {
  padding-bottom: 10px;
}

.projects-wrapper .side-section-nav {
  color: var(--color-headings);
}

.projects-wrapper .side-section-nav li {
  color: var(--calc-notice);
  margin: 10px 0 10px 0;
}