/*colors-special*/
.resume-wrapper .header {
  background-color: var(--bg-color-header-resume);
}

.resume-wrapper .main-wrapper h2
,#edu-link
,#edu-link::after {
  color: var(--color-titles);
}

.resume-wrapper .company-name,
.resume-wrapper .date {
  color: var(--color-font-description);
}

.resume-wrapper .contact-links li {
  color: var(--color-links);
}

.resume-wrapper .lang-desc {
  color: var(--color-font-description);
}

/*margin-specials*/
.resume-wrapper .nested-p
,.resume-wrapper .job-title
,.resume-wrapper .side-lang h4 {
  margin: 0;
}

.resume-wrapper .upper-row {
  margin-bottom: 0.3em;
}

.resume-wrapper .section ul
,.resume-wrapper .section p
,.resume-wrapper .contact-links li
,.resume-wrapper .meta
,.resume-wrapper .company-name
,.resume-wrapper .side-lang
,.resume-wrapper .side-skill-list>li
,.resume-wrapper .btn-simple
,.resume-wrapper .btn-back-to-main  {
  margin-bottom: 0.5em;
}

.resume-wrapper .main-section-item
,.resume-wrapper .side-section-item
,.resume-wrapper .name
,.resume-wrapper .position
,.resume-wrapper .contact-links {
  margin-bottom: 1.5em;
}

.resume-wrapper .avatar {
  margin: 2%;
}

/*wrappers*/
.resume-wrapper {
  width: 70%;
}

.resume-wrapper .main-wrapper {
  float: left;
  width: 100%;
}

/*footer*/
.resume-wrapper .footer {
  overflow: hidden;
  clear: both;
  text-align: center;
  padding: 4%;
}

/*header*/
.resume-wrapper .header {
  float: left;
  width: 100%;
}

.resume-wrapper .person-info {
  float: left;
  padding: 2%;
}

.resume-wrapper .avatar {
  display: block;
  float: right;
}

/*sections*/
.resume-wrapper .main-section {
  float: left;
  max-width: 65%;
  padding: 2%;
}

.resume-wrapper .side-section {
  float: right;
  max-width: 20%;
  padding: 2%;
}

/*h1-h6-links-buttons-lists-etc*/
.resume-wrapper .name
,.resume-wrapper .position {
  display: block;
  padding: 0;
}

.resume-wrapper .upper-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume-wrapper .contact-links li {
  font-weight: 600;
}

.resume-wrapper .job-info-list {
  padding-left: 1.2em;
  text-align: justify;
}

.resume-wrapper .job-info-list li {
  list-style-type: disc;
}

.resume-wrapper .btn-simple {
  display: inline-block;
  color: var(--color-btn-links);
  background-color: var(--bg-color-links);
  border: none;
  border-radius: 30px;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
}

.resume-wrapper .btn-simple:hover {
  background-color: var(--bg-color-links-hover);
}

.resume-wrapper .btn-simple:active {
  box-shadow: var(--color-btn-shadow);
}